In [935]:
import re
import numpy as np
import pandas as pd

from matplotlib import pyplot as plt
import seaborn as sns

In [977]:
df = pd.read_csv('data/my_data_hh_51k.csv')
df_12k = pd.read_csv('data/my_data_hh_0112_12k.csv')

In [978]:
df = pd.concat([df, df_12k])

In [979]:
df.shape

(63910, 6)

In [980]:
df.query('title != "None"', inplace=True)

In [981]:
df.reset_index(drop=True, inplace=True)

In [982]:
df

,id,title,description,salary,currency,compensation_type
0,88005041,Оператор 1C,Обязанности: Мы ищем сотрудника способного ра...,от 40 000 ₽ на руки,NaN,NaN
1,89427852,Инженер связи,ПРОСТОР Телеком представлен на рынке телекомму...,от 60 000 ₽ на руки,NaN,NaN
2,88891879,Редактор текстов в интернет-агентство,"Привет! Меня зовут Станислав, я руководитель к...",до 20 000 ₽ на руки,NaN,NaN
3,88559265,Электрик-электронщик,Обязанности: Обслуживание станков с ЧПУ Тр...,до 80 000 ₽ на руки,NaN,NaN
4,89657110,Специалист по организации мероприятий (Event m...,Привет! Мы - gamedev студия SPL. С августа 202...,SPL,NaN,NaN
...,...,...,...,...,...,...
62570,89463605,Фельдшер-лаборант клинической лаборатории,Обязанности: Контролировать правильность дост...,от 35 000 ₽ до вычета налогов,NaN,NaN
62571,89187126,Мастер смены,На пищевое производство требуется мастер смены...,от 65 000 ₽ на руки,NaN,NaN
62572,87605248,Бетонщик-арматурщик,Обязанности: Бетонные и арматурные работы Тр...,от 95 000 до 97 000 ₽ на руки,NaN,NaN
62573,89837753,Товаровед,ЮВЕЛИРНАЯ СЕТЬ 585 GOLD ПРИГЛАШАЕТ ТОВАРОВЕДА ...,от 40 000 ₽ на руки,NaN,NaN
62574,89369532,Техник по обслуживанию зданий и сооружений,Обязанности: Обслуживание зданий и прилегающе...,ООО ЭКСТРАВЕРТ,NaN,NaN

In [983]:
df['salary'].value_counts()

от 50 000 ₽ на руки                        1948
от 40 000 ₽ на руки                        1604
от 60 000 ₽ на руки                        1192
от 45 000 ₽ на руки                        1010
от 30 000 ₽ на руки                        1009
                                           ...
от 70 500 ₽ до вычета налогов                 1
от 66 000 до 75 000 ₽ до вычета налогов       1
от 260 000 до 350 000 ₸ на руки               1
от 170 000 до 500 000 ₽ на руки               1
от 38 000 до 54 000 ₽ на руки                 1
Name: salary, Length: 11519, dtype: int64

In [984]:
def is_salary(str):
    if re.findall('₽', str):
        return True
    else:
        return False

In [985]:
df['is_salary'] = df['salary'].apply(lambda x: is_salary(x))

In [986]:
df.query('is_salary == True', inplace=True)

In [987]:
df.reset_index(drop=True, inplace=True)

In [988]:
df.drop(['currency', 'is_salary'], axis=1, inplace=True)

In [989]:
df.drop_duplicates('id', inplace=True, ignore_index=True)

In [990]:
df

,id,title,description,salary,compensation_type
0,88005041,Оператор 1C,Обязанности: Мы ищем сотрудника способного ра...,от 40 000 ₽ на руки,NaN
1,89427852,Инженер связи,ПРОСТОР Телеком представлен на рынке телекомму...,от 60 000 ₽ на руки,NaN
2,88891879,Редактор текстов в интернет-агентство,"Привет! Меня зовут Станислав, я руководитель к...",до 20 000 ₽ на руки,NaN
3,88559265,Электрик-электронщик,Обязанности: Обслуживание станков с ЧПУ Тр...,до 80 000 ₽ на руки,NaN
4,89688196,Руководитель филиала,"Лизинговая компания ""Смарт Лизинг"" предлагает ...",от 250 000 ₽ до вычета налогов,NaN
...,...,...,...,...,...
46977,89994129,Мастер-приёмщик,Обязанности: Общение с клиентами; Прием/выдач...,от 60 000 до 150 000 ₽ на руки,NaN
46978,90147105,Оператор производственной линии,Обязанности: Контроль процесса изготовления н...,от 38 000 до 54 000 ₽ на руки,NaN
46979,89187126,Мастер смены,На пищевое производство требуется мастер смены...,от 65 000 ₽ на руки,NaN
46980,87605248,Бетонщик-арматурщик,Обязанности: Бетонные и арматурные работы Тр...,от 95 000 до 97 000 ₽ на руки,NaN
46981,89837753,Товаровед,ЮВЕЛИРНАЯ СЕТЬ 585 GOLD ПРИГЛАШАЕТ ТОВАРОВЕДА ...,от 40 000 ₽ на руки,NaN

In [991]:
def comp_type(salary):
    
    c_type = re.findall(r'₽.+', salary)
    
    if c_type:
        return c_type[0][2:]
    else:
        pass

In [992]:
df['compensation_type'] = df['salary'].apply(lambda x: comp_type(x))

In [993]:
df.head()

,id,title,description,salary,compensation_type
0,88005041,Оператор 1C,Обязанности: Мы ищем сотрудника способного ра...,от 40 000 ₽ на руки,на руки
1,89427852,Инженер связи,ПРОСТОР Телеком представлен на рынке телекомму...,от 60 000 ₽ на руки,на руки
2,88891879,Редактор текстов в интернет-агентство,"Привет! Меня зовут Станислав, я руководитель к...",до 20 000 ₽ на руки,на руки
3,88559265,Электрик-электронщик,Обязанности: Обслуживание станков с ЧПУ Тр...,до 80 000 ₽ на руки,на руки
4,89688196,Руководитель филиала,"Лизинговая компания ""Смарт Лизинг"" предлагает ...",от 250 000 ₽ до вычета налогов,до вычета налогов

In [994]:
df['compensation_type'].value_counts()

на руки              31959
до вычета налогов    15006
Name: compensation_type, dtype: int64

In [995]:
def get_min_salary(str):
    min_sal = re.findall(r'от \d+\s\d+', str)
    
    if min_sal:
        min_sal = re.sub(' ', '', min_sal[0])[2:]
        min_sal = min_sal.strip(' ')
        min_sal = min_sal.replace('\xa0', '')
        return min_sal
    else:
        return np.nan

In [996]:
df['min_salary'] = df['salary'].apply(lambda x: get_min_salary(x))

In [997]:
def get_max_salary(str):
    max_sal = re.findall(r'до \d+\s\d+', str)
    
    if max_sal:
        max_sal = re.sub(' ', '', max_sal[0])[2:]
        max_sal = max_sal.strip(' ')
        max_sal = max_sal.replace('\xa0', '')
        return max_sal
    else:
        return np.nan

In [998]:
df['max_salary'] = df['salary'].apply(lambda x: get_max_salary(x))

In [999]:
df

,id,title,description,salary,compensation_type,min_salary,max_salary
0,88005041,Оператор 1C,Обязанности: Мы ищем сотрудника способного ра...,от 40 000 ₽ на руки,на руки,40000,NaN
1,89427852,Инженер связи,ПРОСТОР Телеком представлен на рынке телекомму...,от 60 000 ₽ на руки,на руки,60000,NaN
2,88891879,Редактор текстов в интернет-агентство,"Привет! Меня зовут Станислав, я руководитель к...",до 20 000 ₽ на руки,на руки,NaN,20000
3,88559265,Электрик-электронщик,Обязанности: Обслуживание станков с ЧПУ Тр...,до 80 000 ₽ на руки,на руки,NaN,80000
4,89688196,Руководитель филиала,"Лизинговая компания ""Смарт Лизинг"" предлагает ...",от 250 000 ₽ до вычета налогов,до вычета налогов,250000,NaN
...,...,...,...,...,...,...,...
46977,89994129,Мастер-приёмщик,Обязанности: Общение с клиентами; Прием/выдач...,от 60 000 до 150 000 ₽ на руки,на руки,60000,150000
46978,90147105,Оператор производственной линии,Обязанности: Контроль процесса изготовления н...,от 38 000 до 54 000 ₽ на руки,на руки,38000,54000
46979,89187126,Мастер смены,На пищевое производство требуется мастер смены...,от 65 000 ₽ на руки,на руки,65000,NaN
46980,87605248,Бетонщик-арматурщик,Обязанности: Бетонные и арматурные работы Тр...,от 95 000 до 97 000 ₽ на руки,на руки,95000,97000
46981,89837753,Товаровед,ЮВЕЛИРНАЯ СЕТЬ 585 GOLD ПРИГЛАШАЕТ ТОВАРОВЕДА ...,от 40 000 ₽ на руки,на руки,40000,NaN

In [1000]:
df.drop('salary', axis=1, inplace=True)

In [1001]:
what_k = df.shape[0] // 1000

In [1002]:
df['id'].nunique()

46982

In [1003]:
df.to_csv(f'data/cleaned_hh_data_{what_k}k.csv', index=False)

In [1004]:
df['min_salary'] = df['min_salary'].apply(lambda x: 0 if (x is np.nan) else x)
df['max_salary'] = df['max_salary'].apply(lambda x: 0 if (x is np.nan) else x)

In [1005]:
df['min_salary'] = df['min_salary'].apply(lambda x: int(x))
df['max_salary'] = df['max_salary'].apply(lambda x: int(x))

In [1006]:
df

,id,title,description,compensation_type,min_salary,max_salary
0,88005041,Оператор 1C,Обязанности: Мы ищем сотрудника способного ра...,на руки,40000,0
1,89427852,Инженер связи,ПРОСТОР Телеком представлен на рынке телекомму...,на руки,60000,0
2,88891879,Редактор текстов в интернет-агентство,"Привет! Меня зовут Станислав, я руководитель к...",на руки,0,20000
3,88559265,Электрик-электронщик,Обязанности: Обслуживание станков с ЧПУ Тр...,на руки,0,80000
4,89688196,Руководитель филиала,"Лизинговая компания ""Смарт Лизинг"" предлагает ...",до вычета налогов,250000,0
...,...,...,...,...,...,...
46977,89994129,Мастер-приёмщик,Обязанности: Общение с клиентами; Прием/выдач...,на руки,60000,150000
46978,90147105,Оператор производственной линии,Обязанности: Контроль процесса изготовления н...,на руки,38000,54000
46979,89187126,Мастер смены,На пищевое производство требуется мастер смены...,на руки,65000,0
46980,87605248,Бетонщик-арматурщик,Обязанности: Бетонные и арматурные работы Тр...,на руки,95000,97000
46981,89837753,Товаровед,ЮВЕЛИРНАЯ СЕТЬ 585 GOLD ПРИГЛАШАЕТ ТОВАРОВЕДА ...,на руки,40000,0

In [1007]:
def get_mean_salary(df_row):
    if df_row['min_salary'] == 0:
        mean_salary = df_row['max_salary']
    elif df_row['max_salary'] == 0:
        mean_salary = df_row['min_salary']
    else:
        mean_salary = (df_row['min_salary'] + df_row['max_salary']) /2
        
    return mean_salary

In [1008]:
df['mean_salary'] = df.apply(
    lambda x: get_mean_salary(x), axis=1
    )

In [1009]:
df['compensation_type'].fillna('на руки', inplace=True)

In [1010]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46982 entries, 0 to 46981
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 46982 non-null  int64
 1   title              46982 non-null  object
 2   description        46982 non-null  object
 3   compensation_type  46982 non-null  object
 4   min_salary         46982 non-null  int64
 5   max_salary         46982 non-null  int64
 6   mean_salary        46982 non-null  float64
dtypes: float64(1), int64(3), object(3)
memory usage: 2.5+ MB

- нормализовать зп с учетом типа компенсации

In [1011]:
df['salary'] = df.apply(
    lambda x: (x['mean_salary'] * 0.87) if x['compensation_type'] == 'до вычета налогов' else x['mean_salary'],
    axis=1
    )

In [1012]:
df

,id,title,description,compensation_type,min_salary,max_salary,mean_salary,salary
0,88005041,Оператор 1C,Обязанности: Мы ищем сотрудника способного ра...,на руки,40000,0,40000.0,40000.0
1,89427852,Инженер связи,ПРОСТОР Телеком представлен на рынке телекомму...,на руки,60000,0,60000.0,60000.0
2,88891879,Редактор текстов в интернет-агентство,"Привет! Меня зовут Станислав, я руководитель к...",на руки,0,20000,20000.0,20000.0
3,88559265,Электрик-электронщик,Обязанности: Обслуживание станков с ЧПУ Тр...,на руки,0,80000,80000.0,80000.0
4,89688196,Руководитель филиала,"Лизинговая компания ""Смарт Лизинг"" предлагает ...",до вычета налогов,250000,0,250000.0,217500.0
...,...,...,...,...,...,...,...,...
46977,89994129,Мастер-приёмщик,Обязанности: Общение с клиентами; Прием/выдач...,на руки,60000,150000,105000.0,105000.0
46978,90147105,Оператор производственной линии,Обязанности: Контроль процесса изготовления н...,на руки,38000,54000,46000.0,46000.0
46979,89187126,Мастер смены,На пищевое производство требуется мастер смены...,на руки,65000,0,65000.0,65000.0
46980,87605248,Бетонщик-арматурщик,Обязанности: Бетонные и арматурные работы Тр...,на руки,95000,97000,96000.0,96000.0
46981,89837753,Товаровед,ЮВЕЛИРНАЯ СЕТЬ 585 GOLD ПРИГЛАШАЕТ ТОВАРОВЕДА ...,на руки,40000,0,40000.0,40000.0

In [1013]:
df.drop(['min_salary', 'max_salary', 'mean_salary'], axis=1, inplace=True)

In [1014]:
df.to_csv(f'data/cleaned_hh_data_for_modelling_{what_k}k.csv', index=False)