In [55]:
import re
import numpy as np
import pandas as pd

from matplotlib import pyplot as plt
import seaborn as sns

In [56]:
df = pd.read_csv('data/my_data_hh_51k.csv')
df_12k = pd.read_csv('data/my_data_hh_0112_12k.csv')
df_6k = pd.read_csv('data/my_data_hh_22_12_6000.csv')

In [57]:
df_6k.drop('Unnamed: 0', axis=1, inplace=True)

In [58]:
df = pd.concat([df, df_12k, df_6k])

In [59]:
df.shape

(69911, 6)

In [60]:
df.query('title != "None"', inplace=True)

In [61]:
df.reset_index(drop=True, inplace=True)

In [62]:
df.head()

,id,title,description,salary,currency,compensation_type
0,88005041,Оператор 1C,Обязанности: Мы ищем сотрудника способного ра...,от 40 000 ₽ на руки,NaN,NaN
1,89427852,Инженер связи,ПРОСТОР Телеком представлен на рынке телекомму...,от 60 000 ₽ на руки,NaN,NaN
2,88891879,Редактор текстов в интернет-агентство,"Привет! Меня зовут Станислав, я руководитель к...",до 20 000 ₽ на руки,NaN,NaN
3,88559265,Электрик-электронщик,Обязанности: Обслуживание станков с ЧПУ Тр...,до 80 000 ₽ на руки,NaN,NaN
4,89657110,Специалист по организации мероприятий (Event m...,Привет! Мы - gamedev студия SPL. С августа 202...,SPL,NaN,NaN

In [64]:
df['salary'] = df['salary'].apply(lambda x: str(x))

In [65]:
def is_salary(str):
    if re.findall('₽', str):
        return 1
    else:
        return 0

In [67]:
df['is_salary'] = df['salary'].apply(lambda x: is_salary(x))

In [68]:
df.query('is_salary == 1', inplace=True)

In [69]:
df.reset_index(drop=True, inplace=True)

In [70]:
df.drop(['currency', 'is_salary'], axis=1, inplace=True)

In [71]:
df.drop_duplicates('id', inplace=True, ignore_index=True)

In [72]:
df

,id,title,description,salary,compensation_type
0,88005041,Оператор 1C,Обязанности: Мы ищем сотрудника способного ра...,от 40 000 ₽ на руки,NaN
1,89427852,Инженер связи,ПРОСТОР Телеком представлен на рынке телекомму...,от 60 000 ₽ на руки,NaN
2,88891879,Редактор текстов в интернет-агентство,"Привет! Меня зовут Станислав, я руководитель к...",до 20 000 ₽ на руки,NaN
3,88559265,Электрик-электронщик,Обязанности: Обслуживание станков с ЧПУ Тр...,до 80 000 ₽ на руки,NaN
4,89688196,Руководитель филиала,"Лизинговая компания ""Смарт Лизинг"" предлагает ...",от 250 000 ₽ до вычета налогов,NaN
...,...,...,...,...,...
49872,90867875,"Арт-директор парк-отель ""Хвоя""",Обязанности: Разработка и реализация концепц...,от 90 000 ₽ до вычета налогов,NaN
49873,89592349,Оператор производственной линии,"Рассмотрим как опытных кандидатов, так и начин...",от 60 000 до 75 000 ₽ на руки,NaN
49874,90832060,Сварщик на полуавтомат,Обязанности:- Сварка на п/а машинах- Зачистка ...,от 160 000 до 178 000 ₽ на руки,NaN
49875,90756576,"СОТРУДНИК СКЛАДА (график 2/2 , возможна подраб...","СОТРУДНИК СКЛАДА (график 2/2 , возможна подраб...",от 79 429 ₽ на руки,NaN
49876,90411758,"Диспетчер чатов, удаленно",Постройте вашу карьеру в Яндекс. Необходимо бу...,от 30 000 до 44 000 ₽ до вычета налогов,NaN

In [73]:
def comp_type(salary):
    
    c_type = re.findall(r'₽.+', salary)
    
    if c_type:
        return c_type[0][2:]
    else:
        pass

In [74]:
df['compensation_type'] = df['salary'].apply(lambda x: comp_type(x))

In [75]:
df.head()

,id,title,description,salary,compensation_type
0,88005041,Оператор 1C,Обязанности: Мы ищем сотрудника способного ра...,от 40 000 ₽ на руки,на руки
1,89427852,Инженер связи,ПРОСТОР Телеком представлен на рынке телекомму...,от 60 000 ₽ на руки,на руки
2,88891879,Редактор текстов в интернет-агентство,"Привет! Меня зовут Станислав, я руководитель к...",до 20 000 ₽ на руки,на руки
3,88559265,Электрик-электронщик,Обязанности: Обслуживание станков с ЧПУ Тр...,до 80 000 ₽ на руки,на руки
4,89688196,Руководитель филиала,"Лизинговая компания ""Смарт Лизинг"" предлагает ...",от 250 000 ₽ до вычета налогов,до вычета налогов

In [76]:
df['compensation_type'].value_counts()

compensation_type
на руки              34246
до вычета налогов    15614
Name: count, dtype: int64

In [77]:
def get_min_salary(str):
    min_sal = re.findall(r'от \d+\s\d+', str)
    
    if min_sal:
        min_sal = re.sub(' ', '', min_sal[0])[2:]
        min_sal = min_sal.strip(' ')
        min_sal = min_sal.replace('\xa0', '')
        return min_sal
    else:
        return np.nan

In [78]:
df['min_salary'] = df['salary'].apply(lambda x: get_min_salary(x))

In [79]:
def get_max_salary(str):
    max_sal = re.findall(r'до \d+\s\d+', str)
    
    if max_sal:
        max_sal = re.sub(' ', '', max_sal[0])[2:]
        max_sal = max_sal.strip(' ')
        max_sal = max_sal.replace('\xa0', '')
        return max_sal
    else:
        return np.nan

In [80]:
df['max_salary'] = df['salary'].apply(lambda x: get_max_salary(x))

In [82]:
df.head()

,id,title,description,salary,compensation_type,min_salary,max_salary
0,88005041,Оператор 1C,Обязанности: Мы ищем сотрудника способного ра...,от 40 000 ₽ на руки,на руки,40000,NaN
1,89427852,Инженер связи,ПРОСТОР Телеком представлен на рынке телекомму...,от 60 000 ₽ на руки,на руки,60000,NaN
2,88891879,Редактор текстов в интернет-агентство,"Привет! Меня зовут Станислав, я руководитель к...",до 20 000 ₽ на руки,на руки,NaN,20000
3,88559265,Электрик-электронщик,Обязанности: Обслуживание станков с ЧПУ Тр...,до 80 000 ₽ на руки,на руки,NaN,80000
4,89688196,Руководитель филиала,"Лизинговая компания ""Смарт Лизинг"" предлагает ...",от 250 000 ₽ до вычета налогов,до вычета налогов,250000,NaN

In [83]:
df.drop('salary', axis=1, inplace=True)

In [84]:
what_k = df.shape[0] // 1000

In [85]:
df['id'].nunique()

49877

In [86]:
df.to_csv(f'data/cleaned_hh_data_{what_k}k.csv', index=False)

 ### Сохранил промежуточный результат для публикации датасета.
 ### Далее пытаюсь диапазон зп привести к одному численному таргету.

In [87]:
df['min_salary'] = df['min_salary'].apply(lambda x: 0 if (x is np.nan) else x)
df['max_salary'] = df['max_salary'].apply(lambda x: 0 if (x is np.nan) else x)

In [88]:
df['min_salary'] = df['min_salary'].apply(lambda x: int(x))
df['max_salary'] = df['max_salary'].apply(lambda x: int(x))

In [89]:
df.head()

,id,title,description,compensation_type,min_salary,max_salary
0,88005041,Оператор 1C,Обязанности: Мы ищем сотрудника способного ра...,на руки,40000,0
1,89427852,Инженер связи,ПРОСТОР Телеком представлен на рынке телекомму...,на руки,60000,0
2,88891879,Редактор текстов в интернет-агентство,"Привет! Меня зовут Станислав, я руководитель к...",на руки,0,20000
3,88559265,Электрик-электронщик,Обязанности: Обслуживание станков с ЧПУ Тр...,на руки,0,80000
4,89688196,Руководитель филиала,"Лизинговая компания ""Смарт Лизинг"" предлагает ...",до вычета налогов,250000,0

In [90]:
def get_mean_salary(df_row):
    if df_row['min_salary'] == 0:
        mean_salary = df_row['max_salary']
    elif df_row['max_salary'] == 0:
        mean_salary = df_row['min_salary']
    else:
        mean_salary = (df_row['min_salary'] + df_row['max_salary']) /2
        
    return mean_salary

In [91]:
df['mean_salary'] = df.apply(
    lambda x: get_mean_salary(x), axis=1
    )

In [92]:
df['compensation_type'].fillna('на руки', inplace=True)

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49877 entries, 0 to 49876
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 49877 non-null  int64
 1   title              49877 non-null  object
 2   description        49745 non-null  object
 3   compensation_type  49877 non-null  object
 4   min_salary         49877 non-null  int64
 5   max_salary         49877 non-null  int64
 6   mean_salary        49877 non-null  float64
dtypes: float64(1), int64(3), object(3)
memory usage: 2.7+ MB

### Нормализую ЗП с учетом типа компенсации.

In [94]:
df['salary'] = df.apply(
    lambda x: (x['mean_salary'] * 0.87) if x['compensation_type'] == 'до вычета налогов' else x['mean_salary'],
    axis=1
    )

In [95]:
df.head()

,id,title,description,compensation_type,min_salary,max_salary,mean_salary,salary
0,88005041,Оператор 1C,Обязанности: Мы ищем сотрудника способного ра...,на руки,40000,0,40000.0,40000.0
1,89427852,Инженер связи,ПРОСТОР Телеком представлен на рынке телекомму...,на руки,60000,0,60000.0,60000.0
2,88891879,Редактор текстов в интернет-агентство,"Привет! Меня зовут Станислав, я руководитель к...",на руки,0,20000,20000.0,20000.0
3,88559265,Электрик-электронщик,Обязанности: Обслуживание станков с ЧПУ Тр...,на руки,0,80000,80000.0,80000.0
4,89688196,Руководитель филиала,"Лизинговая компания ""Смарт Лизинг"" предлагает ...",до вычета налогов,250000,0,250000.0,217500.0

In [96]:
df.drop(['min_salary', 'max_salary', 'mean_salary'], axis=1, inplace=True)

In [97]:
df.to_csv(f'data/cleaned_hh_data_for_modelling_{what_k}k.csv', index=False)